<div class="navbar">

    <div class="navbar-header-top">general</div>
    <ul>
        <li><a href="/enneagram">enneagram</a></li>
        <li><a href="/mycology">mycology</a></li>
        <li><a href="/obsidian">obsidian</a></li>
    </ul>
    <div class="navbar-header-middle">media</div>
    <ul>
        <li><a href="/homestuck">homestuck</a></li>
    </ul>
    <div class="navbar-header-middle">misc</div>
    <ul>
        <li><a href="/fic-recs">fic recs</a></li>
        <li><a href="/gallery">gallery</a></li>
    </ul>
</div>