<div class="footer">
    <div class="marquee-footer">
        <div class="marquee-footer-content">
            
            <!--
            
            <img src="/assets/images/buttons/FILE" class="thumbnail" alt="ALT 88x31 button">

            -->
            
            <!-- site buttons -->
            <a href="https://nekoweb.org/" target="_blank"><img src="https://nekoweb.org/assets/buttons/button5.gif" class="thumbnail" alt="Nekoweb 88x31 button"></a><!-- button by max.nekoweb.org -->

            <img src="/assets/images/buttons/best-viewed-on-desktop-button.gif" class="thumbnail" alt="Best viewed on Desktop 88x31 button">

            <!-- palestine button -->
            <a href="https://decolonizepalestine.com/" target="_blank"><img src="https://files.catbox.moe/izzae7.png" class="thumbnail" alt="Stand with Palestine 88x31 button"></a>

            <img src="/assets/images/buttons/anti-nft-button.gif" class="thumbnail" alt="Anti-NFT 88x31 button">

            <!-- nukochannel button -->
            <a href="https://nukochannel.neocities.org" target="_blank"><img src="https://nukochannel.neocities.org/NukoChannelButton.gif" class="thumbnail" alt="Nukochannel 88x31 button"></a>

            <!-- get firefox button -->
            <a href="https://www.firefox.com/" target="_blank"><img src="/assets/images/buttons/get-firefox-button.gif" class="thumbnail" alt="Get Firefox 88x31 button"></a>

            <!-- bitwarden button -->
            <a href="https://bitwarden.com/" target="_blank"><img src="/assets/images/buttons/bitwarden-button.gif" class="thumbnail" alt="Bitwarden 88x31 button"></a>

            <!-- ao3 button -->
            <a href="https://archiveofourown.org/" target="_blank"><img src="https://files.catbox.moe/1cqxof.gif" class="thumbnail" alt="Archive of Our Own 88x31 button"></a>

            <!-- status cafe button -->
            <a href="https://status.cafe" target="_blank"><img src="https://status.cafe/assets/button.png" class="thumbnail" alt="Status Cafe button"/></a>

            <!-- sonic buttons -->
            <img src="/assets/images/buttons/tails-sonic-button.png" class="thumbnail" alt="Tails the Fox and Sonic the Hedgehog 88x31 button">

            <!-- pokemon buttons -->
            <img src="/assets/images/buttons/pichu-pikachu-button.gif" class="thumbnail" alt="Pichu Pikachu 88x31 button">

            <!-- homestuck buttons -->
            <img src="https://files.catbox.moe/0scbfz.png" class="thumbnail" alt="Download SBURB 88x31 button">

            <img src="https://files.catbox.moe/ffesa0.jpg" class="thumbnail" alt="Homestuck 88x31 button">

            <!-- trans flag button-->
            <img src="https://files.catbox.moe/194w2x.png" class="thumbnail" alt="Trans Flag 88x31 button">

            <!-- misc buttons -->
            <img src="/assets/images/buttons/im-high-button.gif" class="thumbnail" alt="I'm High 88x31 button">
        </div>

        

        <!-- DUPLICATE HORIZONTAL -->
        <div class="marquee-footer-content">
            
            <!--
            
            <img src="/assets/images/buttons/FILE" class="thumbnail" alt="ALT 88x31 button">

            -->
            
            <!-- site buttons -->
            <a href="https://nekoweb.org/" target="_blank"><img src="https://nekoweb.org/assets/buttons/button5.gif" class="thumbnail" alt="Nekoweb 88x31 button"></a><!-- button by max.nekoweb.org -->

            <img src="/assets/images/buttons/best-viewed-on-desktop-button.gif" class="thumbnail" alt="Best viewed on Desktop 88x31 button">

            <!-- palestine button -->
            <a href="https://decolonizepalestine.com/" target="_blank"><img src="https://files.catbox.moe/izzae7.png" class="thumbnail" alt="Stand with Palestine 88x31 button"></a>

            <img src="/assets/images/buttons/anti-nft-button.gif" class="thumbnail" alt="Anti-NFT 88x31 button">

            <!-- nukochannel button -->
            <a href="https://nukochannel.neocities.org" target="_blank"><img src="https://nukochannel.neocities.org/NukoChannelButton.gif" class="thumbnail" alt="Nukochannel 88x31 button"></a>

            <!-- get firefox button -->
            <a href="https://www.firefox.com/" target="_blank"><img src="/assets/images/buttons/get-firefox-button.gif" class="thumbnail" alt="Get Firefox 88x31 button"></a>

            <!-- bitwarden button -->
            <a href="https://bitwarden.com/" target="_blank"><img src="/assets/images/buttons/bitwarden-button.gif" class="thumbnail" alt="Bitwarden 88x31 button"></a>

            <!-- ao3 button -->
            <a href="https://archiveofourown.org/" target="_blank"><img src="https://files.catbox.moe/1cqxof.gif" class="thumbnail" alt="Archive of Our Own 88x31 button"></a>

            <!-- status cafe button -->
            <a href="https://status.cafe" target="_blank"><img src="https://status.cafe/assets/button.png" alt="Status Cafe button"/></a>

            <!-- sonic buttons -->
            <img src="/assets/images/buttons/tails-sonic-button.png" class="thumbnail" alt="Tails the Fox and Sonic the Hedgehog 88x31 button">

            <!-- pokemon buttons -->
            <img src="/assets/images/buttons/pichu-pikachu-button.gif" class="thumbnail" alt="Pichu Pikachu 88x31 button">

            <!-- homestuck buttons -->
            <img src="https://files.catbox.moe/0scbfz.png" class="thumbnail" alt="Download SBURB 88x31 button">

            <img src="https://files.catbox.moe/ffesa0.jpg" class="thumbnail" alt="Homestuck 88x31 button">

            <!-- trans flag button-->
            <img src="https://files.catbox.moe/194w2x.png" class="thumbnail" alt="Trans Flag 88x31 button">

            <!-- misc buttons -->
            <img src="/assets/images/buttons/im-high-button.gif" class="thumbnail" alt="I'm High 88x31 button">
        </div>
        
    </div>

    <div class="sticker-container2">
        <img class="sticker" src="/assets/images/graphics/bunnyCandy.png">
        <img class="sticker" src="/assets/images/graphics/dogPudding.png">
    </div>
</div>