<div class="sidebar">
    <div class="overflow">
        <div class="marquee">
            <div class="marquee-items">

                <!--
                
                <img src="/assets/images/stamps/" class="thumbnail" alt="ALT DA stamp">
                
                -->

                <!-- palestine stamp -->
                <a href="https://decolonizepalestine.com/" target="_blank"><img src="/assets/images/stamps/palestine-stamp.gif" class="thumbnail" alt="From the river to the sea Palestine will be free DA stamp"></a>

                <!-- sonic stamp -->
                <img src="/assets/images/stamps/sa2-stamp.png" class="thumbnail" alt="Sonic Adventure 2 DA stamp">

                <!-- naruto stamp -->
                <img src="/assets/images/stamps/naruto-sasuke-stamp.png" class="thumbnail" alt="ALT">

                <!-- mlp stamp -->
                <img src="/assets/images/stamps/mlp-stamp.gif" class="thumbnail" alt="My Little Pony DA stamp">

                <!-- warriors stamp -->
                <img src="/assets/images/stamps/warriors-stamp.png" class="thumbnail" alt="Warriors DA stamp">

                <!-- homestuck stamps -->
                <img src="/assets/images/stamps/beatdown-stamp.gif" class="thumbnail" alt="Dave Strider Bro Strider beatdown DA stamp">

                <img src="/assets/images/stamps/dave-stamp.gif" class="thumbnail" alt="Homestuck Dave Strider DA stamp">

                <img src="/assets/images/stamps/dirk-stamp.png" class="thumbnail" alt="Dirk Strider DA stamp">

                <img src="/assets/images/stamps/karkat-microwave-stamp.gif" class="thumbnail" alt="Homestuck Karkat Vantas being microwaved DA stamp">

                <!-- skyrim stamp -->
                <img src="/assets/images/stamps/skyrim-stamp.gif" class="thumbnail" alt="Skyrim The Elder Scrolls 5 DA stamp">

                <!-- omori stamp -->
                <img src="/assets/images/stamps/omori-stamp.png" class="thumbnail" alt="OMORI DA stamp">

                <!-- fe3h stamp-->
                <img src="/assets/images/stamps/fe3h-stamp.png" class="thumbnail" alt="Fire Emblem Three Houses DA stamp">

                <!-- ff7 stamp -->
                <img src="/assets/images/stamps/ff7-stamp.gif" class="thumbnail" alt="Final Fantasy 7 DA stamp">

                <!-- murderbot stamp -->
                <img src="/assets/images/stamps/murderbot-stamp.png" class="thumbnail" alt="Murderbot Diaries DA stamp">

                <!-- chiikawa stamps -->
                <img src="/assets/images/stamps/usagi-eat-stamp.webp" class="thumbnail" alt="Usagi eating DA stamp">

                <!-- signalis stamp -->
                <img src="/assets/images/stamps/signalis-stamp.png" class="thumbnail" alt="Signalis DA stamp">

                <!-- misc stamps -->
                <img src="/assets/images/stamps/pinbear-stamp.png" class="thumbnail" alt="Pinbear DA stamp">

                <img src="/assets/images/stamps/mmmmmmm-sour-patch-kids-stamp.png" class="thumbnail" alt="mmmmmmm sour patch kids DA stamp">
            </div>

            <!-- DUPLICATE VERTICAL -->
            <div class="marquee-items">

                <!--
                
                <img src="/assets/images/stamps/" class="thumbnail" alt="ALT DA stamp">
                
                -->

                <!-- palestine stamp -->
                <a href="https://decolonizepalestine.com/" target="_blank"><img src="/assets/images/stamps/palestine-stamp.gif" class="thumbnail" alt="From the river to the sea Palestine will be free DA stamp"></a>

                <!-- sonic stamp -->
                <img src="/assets/images/stamps/sa2-stamp.png" class="thumbnail" alt="Sonic Adventure 2 DA stamp">

                <!-- naruto stamp -->
                <img src="/assets/images/stamps/naruto-sasuke-stamp.png" class="thumbnail" alt="ALT">

                <!-- mlp stamp -->
                <img src="/assets/images/stamps/mlp-stamp.gif" class="thumbnail" alt="My Little Pony DA stamp">

                <!-- warriors stamp -->
                <img src="/assets/images/stamps/warriors-stamp.png" class="thumbnail" alt="Warriors DA stamp">

                <!-- homestuck stamps -->
                <img src="/assets/images/stamps/beatdown-stamp.gif" class="thumbnail" alt="Dave Strider Bro Strider beatdown DA stamp">

                <img src="/assets/images/stamps/dave-stamp.gif" class="thumbnail" alt="Homestuck Dave Strider DA stamp">

                <img src="/assets/images/stamps/dirk-stamp.png" class="thumbnail" alt="Dirk Strider DA stamp">

                <img src="/assets/images/stamps/karkat-microwave-stamp.gif" class="thumbnail" alt="Homestuck Karkat Vantas being microwaved DA stamp">

                <!-- skyrim stamp -->
                <img src="/assets/images/stamps/skyrim-stamp.gif" class="thumbnail" alt="Skyrim The Elder Scrolls 5 DA stamp">

                <!-- omori stamp -->
                <img src="/assets/images/stamps/omori-stamp.png" class="thumbnail" alt="OMORI DA stamp">

                <!-- fe3h stamp-->
                <img src="/assets/images/stamps/fe3h-stamp.png" class="thumbnail" alt="Fire Emblem Three Houses DA stamp">

                <!-- ff7 stamp -->
                <img src="/assets/images/stamps/ff7-stamp.gif" class="thumbnail" alt="Final Fantasy 7 DA stamp">

                <!-- murderbot stamp -->
                <img src="/assets/images/stamps/murderbot-stamp.png" class="thumbnail" alt="Murderbot Diaries DA stamp">

                <!-- chiikawa stamps -->
                <img src="/assets/images/stamps/usagi-eat-stamp.webp" class="thumbnail" alt="Usagi eating DA stamp">

                <!-- signalis stamp -->
                <img src="/assets/images/stamps/signalis-stamp.png" class="thumbnail" alt="Signalis DA stamp">

                <!-- misc stamps -->
                <img src="/assets/images/stamps/pinbear-stamp.png" class="thumbnail" alt="Pinbear DA stamp">

                <img src="/assets/images/stamps/mmmmmmm-sour-patch-kids-stamp.png" class="thumbnail" alt="mmmmmmm sour patch kids DA stamp">
            </div>
        </div>
    </div>

</div>