<div class="navbar">

    <div class="navbar-header-top">
        general
    </div>

    <ul>

        <li>
            <a href="/index">home</a>
        </li>
        
        <li>
            <a href="/about">about</a>
        </li>

        <li>
            <a href="/blog">blog</a>
        </li>

        <li>
            <a href="/links">links</a>
        </li>

    </ul>

    <div class="navbar-header-middle">
        creative
    </div>

    <ul>
        <li>
            <a href="/ocs">my ocs</a>
        </li>
    </ul>

    <div class="navbar-header-middle">
        interests
    </div>

    <ul>
        <li>
            <a href="/enneagram">enneagram</a>
        </li>

        <li>
            <a href="/mycology">mycology</a>
        </li>

        <li>
            <a href="/obsidian">obsidian</a>
        </li>

    </ul>

    <div class="nekolink" align="right">
        <iframe width="132" height="132" style="border:none" src="https://rubybulbs.net/neko.html"></iframe>
    </div>

</div>