<div class="header">

    <div class="sticker-container">
        <img class="sticker" src="/assets/images/graphics/catFish.png">
        <img class="sticker" src="/assets/images/graphics/bearCake.png">
    </div>

    <nav id="imglinks" class="flex">

        <a href="/index.html" class="imgtxt">
            <img src="/assets/images/graphics/toaster.png" alt="" width="100">
            <span>home</span>
        </a>

        <a href="/about" class="imgtxt">
            <img src="/assets/images/graphics/flowercat.png" alt="" height="110">
            <span>about</span>
        </a>

        <a href="/blog" class="imgtxt">
            <img src="/assets/images/graphics/paper2.png" alt="" height="110">
            <span>blog</span>
        </a>

        <a href="/resources" class="imgtxt">
            <img src="/assets/images/graphics/bookstack.png" alt="" height="100" style="padding-left:5px;" >
            <span>resources</span>
        </a>

        <a href="/links" class="imgtxt">
            <img src="/assets/images/graphics/chicks.png" alt="" height="100" style="padding-left:5px;">
            <span>links</span>
        </a>
	
    </nav>

</div>