<!doctype html>
<html lang="en">

	<head>
        {% include "basehead.html" %}
        {% block head %}
            
        {% endblock %}
    </head>

	<body>

        <div class="container">

            {% include "baseheader.html" %}

            <!-- NAVIGATION BAR -->
            {% include "basenavbar.html" %}

            <div class="content">
                <main>
                    <!-- CONTENT -->
                    
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                   
                    <!-- CONTENT END-->
                </main>
            </div>

            <!-- SIDEBAR MARQUEE (VERTICAL) -->
            {% include "basesidebar.html" %}

            <!-- FOOTER MARQUEE (HORIZONTAL) -->
            {% include "basefooter.html" %}

        <!-- CONTAINER END -->
        </div>

        <!-- SCRIPTS-->
         {% include "basescripts.html" %}
         {% block scripts %}
            
         {% endblock %}
    </body>

    

</html>