<ul class="postlist">
{%- for post in postslist | reverse %}
	<li>
		<a href="{{ post.url }}" class="postlist-link">

			<time class="postlist-date" datetime="{{ post.date | formatDate }}">{{ post.date | formatDate2 }}</time>
		
			»

			{% if post.data.title %}{{ post.data.title }}
			{% else %}<code>{{ post.url }}</code>
			{% endif %}
		</a>

		
		
	</li>
{%- endfor %}
</ul>