@font-face {
    font-family: 'MS PGothic';
    src: url('https://file.garden/Yr-hX12ApyvZIcfg/ms-pgothic-regular.ttf');
}

body {
    font-family: 'MS PGothic';
    color: #545454;
    background-color: #f5f5f1;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#gallery a:hover {
    cursor: pointer;
}

#gallery img {
    max-height:200px;
}

#gallery img:hover {
    transform: scale(1.2)
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}